{
  "extends": "airlight-node",
  "parserOptions": {
    "project": "./tsconfig.json",
    "extraFileExtensions": [".cjs"]
  },
  "rules": {
    "@typescript-eslint/no-var-requires": "off",
    "@typescript-eslint/naming-convention": "off",
    "eslint-comments/disable-enable-pair": "off",
    "guard-for-in": "off",
    "no-restricted-syntax": "off",
    "no-continue": "off",
    "no-param-reassign": "off",
    "consistent-return": "off"
  }
}
