{
  "extends": "eslint:recommended",
  "env": {
    "node": true,
    "browser": false,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "rules": {
    "comma-dangle": ["error", "never"],
    "comma-spacing": [
      "error",
      {
        "before": false,
        "after": true
      }
    ],
    "eol-last": ["error", "always"],
    "indent": "off",
    "no-multiple-empty-lines": ["error"],
    "no-new-symbol": "error",
    "no-trailing-spaces": ["error"],
    "no-undef": ["error"],
    "no-unused-vars": ["error"],
    "no-console": 0,
    "object-curly-spacing": ["error", "always"],
    "object-shorthand": "error",
    "prefer-const": 2,
    "quotes": "off",
    "semi": ["error", "always"],
    "space-in-parens": ["error", "never"],
    "strict": [2, "never"],
    "max-len": ["error", 120],
    "require-atomic-updates": 0
  }
}
