{
  "extends": "airlight-node",
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "@typescript-eslint/no-var-requires": "off",
    "@typescript-eslint/naming-convention": "off",
    "guard-for-in": "off",
    "no-restricted-syntax": "off",
    "no-continue": "off",
    "no-param-reassign": "off",
    "consistent-return": "off"
  }
}
