## JetBrains IDE
.idea

#################
### Artifacts ###
#################
.DS_Store
artifacts
.ansible

**/artifacts
**/.ansible

# VIM
.vim/plugged
.vim/.netrwhist
.vim/autoload/plug.vim

# nano
.nano/search_history


#################
#####  Logs #####
#################

logs
.log
*.log
*-debug.log*

#################
#  Runtime data #
#################

pids
*.pid
*.seed
*.pid.lock

#################
### Coverages ###
#################

lib-cov
**/lib-cov

coverage
**/coverage

.nyc_output
**/.nyc_output

#################
#### Cachings ###
#################

.grunt
.npm
.pnp
.eslintcache
.cache
.webpack
.vercel
.now
.next
.serverless
.docz
.snap
__snapshots__
tmp
styleguide/

## Make sure subfolders also does not exist
**/.grunt
**/.npm
**/.pnp
**/.eslintcache
**/.cache
**/.webpack
**/.vercel
**/.now
**/.next
**/.serverless
**/.docz
**/.snap
**/__snapshots__
**/tmp
**/styleguide/

#################
#### Modules ####
#################

bower_components
node_modules
jspm_packages

## Make sure subfolders also does not exist
**/bower_componets
**/node_modules
**/jspm_packages

# Output of 'npm pack'
*.tgz

# Optional REPL history
.node_repl_history

# PNP dependencies
.pnp.js

#################
### Lockfiles ###
#################

.lock-wscript
.yarn-integrity

#################
### Security ####
#################

.env
.env.local
.env.development.local
.env.test.local
.env.production.local

## SUDO Askpass
askpass.sh

## NPM Security file
.npmrc

#################
## Build files ##
#################

cjs
dist
build/Release
functions-build

## Make sure subfolders also does not exist
**/dist
**/build/Release
**/functions-build

## Except cjs/package.json
!cjs/package.json

## Bundle files
## Build files for
## Gatsby, CRA, etc
public/bundle*
public/dist*
public/assets*

## Assets files
## Build files for
## some frameworks
assets/js/bundle*
assets/css/bundle*

## Minified CSS files
*.min.css
## Minified JS files
*.min.js
## Minified JS source maps
*.min.js.map

#################
## TypeScript ###
#################

# TypeScript v1 declaration files
typings/
