sudo: false
language: node_js
notifications:
  email: false
os:
  - linux
  - osx
node_js:
  - '10'
  - '11'
  - '12'
install:
  - npm install
  - npm i cookie ajv fast-json-stringify
script:
  - npm run lint
  - npm test
  - npm run coveralls
